* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    display: table;
    font-family: 'Dancing Script', cursive;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
}

h1 {
    color: #555;
    font-size: 4em;
    font-weight: 400;
}